* {
    margin: 0;
    padding: 0;
}
p {
    font-size: 2rem;
    font-weight: 600;

}
p + p {
    margin-top: 1rem;
}

button {
    cursor: pointer;
}

body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e293b;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.superContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    width: 100%;
}

h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display:flex;
    justify-content: center;
    width: 90%;
    font-size: 6rem;
    background-color: #0f172a;
    font-weight: 900;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
}

.mainContainer {
    box-sizing: border-box;
    background-color: #0f172a;
    border-radius: 1rem;
    width: 90%;
    display: grid;
    grid-template-rows: 8rem repeat(auto-fill, 16rem);
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
h2{
    grid-column: 1 / -1;
    font-size: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #22d3ee;
    border-left: 20px solid #22d3ee;
    border-right: 20px solid #22d3ee;
    border-radius: 20rem;
    min-width: 42rem;
    min-height: 15rem;
}

.titleContainer {
    width: 85%;
    display: flex;
    justify-content: center;
    position: relative;
}
.removeCardButton{
    max-width: 2rem;
    height: 2rem;
    border: none;
    background: none;
    position: absolute;
    right: 0;
}
.cancelSvg {
    width: 100%;
    height: 100%;
    background-color: #22d3ee;
    border-radius: 25px;
}
.title { 
    font-weight: 1000;
    font-size: 2.5rem;
    color: #22d3ee;
}
.author {
    font-style: italic;
}
.readButton{
    background: #1e293b;
    color: white;
    border: 3px solid #22d3ee;
    border-radius: 50px;
    width: 35rem;
    font-size: 2rem;
    font-weight: 600;
    margin-top:0.5rem ;
}
.readButton:hover {
    background: white;
    color: #1e293b;
}


.flexContainer {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
    border-bottom: 1px solid white;
    padding-top: 2.5rem;
}

.newBookButton {
    width: 250px;
    height: 75px;
    border-radius: 25px;
    background: #0f172a;
    color: white;
    border: 5px solid #22d3ee;
    font-size: 30px;
    font-weight: 900;
}

form {
    box-sizing: border-box;
    background-color: #0f172a;
    border-radius: 1rem;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    grid-template-columns: 1fr 4fr;
    row-gap: 1rem;
    column-gap:1px; 
    padding-left: 2rem;
    padding-right: 0;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border: 3px solid #22d3ee;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    max-width: 60rem;
    position: absolute;
    top: 20rem;
}
form > h3{
    font-size: 30px;
    grid-column: 1 / -1;
}
form > label{
    grid-column: 1 / 2;
}
label{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 90%;
    padding: 7px;
    font-size: 14px;
    box-sizing: border-box;
    outline-style: none;
    box-shadow: none;
    justify-self: start;
    border: 2px solid #22d3ee;
}
input:focus {
    border: 0.1rem solid #4997eb;
    box-shadow: 0 9px 10px -10px #888;
}
input:invalid {
    border: 0.1rem solid red;
}
input[type='text'] {
    max-width: 40rem;
}
input[type='number'] {
    max-width: 6rem;
}

input[type='checkbox'] {
    width: 4rem;
    height: 2rem;
    border: 2px solid #22d3ee;
}

form button{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background: #0f172a;
    color: white;
    border: 5px solid #22d3ee;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.rightButtons {
    justify-self: right;
    padding-right: 1rem;
}